<div class="registration-form " style="margin-top: 75px;">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" style=" overflow: auto; height: 500px;">

        <div class="form-group">
            <input type="text" class="form-control item" name="First_Name" ngModel #First_Name="ngModel"
                placeholder="first name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" name="Family_Name" ngModel #Family_Name="ngModel"
                placeholder="family name">
        </div>
        <div class="form-group">
            <input type="number" class="form-control item" name="Phone" ngModel #Phone="ngModel"
                placeholder="phone-number">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" name="Address" ngModel #Address="ngModel"
                placeholder="address">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" name="Gender" ngModel #Gender="ngModel" placeholder="gender">
        </div>
        <div class="form-group">
            <input type="file" class="form-control item" (change)="fileChangeEvent($event)" name="image" ngModel
                #image="ngModel" placeholder="image">
        </div>
        <div class="text-danger" *ngIf="imagenotd">
            Please change image.
          </div>
        {{imageError}}

        <div class="form-check">
            <input name="post" type="checkbox" class="form-check-input mt-2" (change)="show($event)"
                [checked]="ischecked" #post id="flexCheckDefault">
            <label class="form-check-label mt-1" for="flexCheckDefault">
                Add to postes
            </label>
        </div>

        <div *ngIf="post.checked">
            <div class="form-group">
                <input type="text" class="form-control item mt-4" name="title" ngModel #title="ngModel"
                    placeholder="title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="content" ngModel #content="ngModel"
                    placeholder="content">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">
                <div *ngIf="load">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="mx-2">Loading...</span>
                </div>
                <div *ngIf="load==false">Add lost</div>
            </button>

        </div>
    </form>

</div>